Django==3.2.16
djangorestframework==3.14.0
psycopg2==2.8.6
celery[redis]==5.2.7
flower==1.2.0
celery_singleton==0.3.1
django-cachalot==2.5.2
gunicorn==20.1.0
django-environ==0.9.0

# поддержка редис в джанго реализованна только с 4 версии поэтому скачиваем дополнительный пакет
# чтобы использовать редис в джанго 3.2.16
django-redis==5.2.0